/* *{

} */

:root {

}

/* Main menu styling */
#gameScreen {
    display: flex;
}

#backgroundPic {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

    z-index: 1;
}

.flexCtr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clicked {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(20, 120, 20, 11);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}


.title {
    font-size: 3vw;
    padding-left: 2vw;
    font-family: 'CallOfOpsDuty', 'Times New Roman', Times, serif;
    display:flex;
    justify-content:center;
    align-items:center;
    color: beige;
    text-shadow: 1px 1px 1px rgb(59, 81, 44);
}


ul li {
    list-style: none;
}

ul li a {
    font-size: 3vw;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: beige;
    border: 2px solid rgb(229, 242, 159);
    background-color: rgb(125, 156, 87);
    width: 30%;
    position: relative;
    left: 30%;
    margin: 2%;
}

ul li a:hover {
    cursor: crosshair;
    background-color: rgb(84, 128, 31);
}

ul li a:onclick {

}

.menuBox{
    display: grid;
    grid-template-columns: auto;
    justify-content:center;
    align-items:center;
    position: fixed;
    /* font-size: 12%; */
    top: 20%;
    left: 20%;
    right: 50%;
    z-index: 1;
    border: 2px solid black;
    background-color: rgba(124, 118, 89, 0.863);
    width: 50%;
    padding: 5%;
    margin-bottom: 1vw;
}

.copyright {
    position: fixed;
    font-size: 2vw;font-weight: bold;
    top: 92%;
    left: 42vw;
    z-index: 1;
}

/* Game Styling */

#gameBody {
    background-color: rgba(124, 118, 89, 0.863);

}

.choiceBtn {
    color: antiquewhite;
    background-color: #4b6337;
    padding: 10px;
    border: 3px solid black;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 1;

}


#playerScoreContainer{
    display:block;
    justify-content:right;
    align-items:stretch;
    
}

/* player1 score */
#player1 {
    position: absolute;
    left: 18%;
    padding-bottom: 10%;
    font-size: 30pt;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

/* player2 score */
#player2 {
    position: absolute;
    right: 15%;
    padding-bottom: 10%;
    font-size: 30pt;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#player1Choice {
   position: absolute;
   left: 24%;
   top: 34.3%;
   font-size: 2vw;

}


.gameBtn{
    display: flex;
}
#tankBtn{
    position: absolute;
    height:5%;
    left: 25%;
    top: 40%;
    width: 10%;
    border: 2px solid black;
    stroke: #000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#soldierBtn{
    position: absolute;
    height:5%;
    left: 25%;
    top: 45.5%;
    width: 10%;
    border: 2px solid black;
    stroke: #000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 3% 0% 3% 0%;
}

#artilleryBtn{
    position: absolute;
    height:5%;
    left: 25%;
    top: 55%;
    width: 10%;
    border: 2px solid black;
    stroke: #000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 3% 0% 3% 0%;
}



#player2Choice {
    position: absolute;
    top: 34.3%;
    right: 23.3%;
   
}

.compGameBtn{

}

#pl2TankBtn{
    position: absolute;
    height:5%;
    right: 25%;
    width: 10%;
    top: 40%;
    border: 2px solid black;
    stroke: #000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}

#pl2SoldierBtn {
    position: absolute;
    height:5%;
    right: 25%;
    width: 10%;
    top: 45.5%;
    border: 2px solid black;
    stroke: #000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 3% 0% 3% 0%;
}

#pl2ArtilleryBtn{
    position: absolute;
    height:5%;
    right: 25%;
    width: 10%;
    top: 55%;
    fill: #F9EEEE;
    border: 2px solid black;
    stroke: #000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 3% 0% 3% 0%;
}

#restart{
    position: absolute;
    left: 35%;
    bottom: 15%;
    font-size: 30pt;
}

#quit{
    position: absolute;
    right: 35%;
    bottom: 15%;
    font-size: 30pt;
}
